# Environnement virtuel
env/
venv/

# Fichiers de configuration
*.env
*.env.*

# Cache et fichiers compilés
__pycache__/
*.py[cod]
*.sqlite3

# Configurations locales et secrets
*.local
*.log

# Variables d'environnements
.env

# Utils
commandes.txt