div.nutrition-container{
    // outline: 1px solid red; 
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1rem;
    grid-template-areas:
    "action action action action calendar calendar"
    "ingredient-list ingredient-list recipe-list recipe-list recipe-list recipe-list"
    "ingredient-list ingredient-list recipe-list recipe-list recipe-list recipe-list";


    .module{
        color: var(--module-text-color);
        border-radius: 8px;
        outline: 1px solid black;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        opacity: 0.9;
        text-shadow: 1px 1px 2px black;

        &:hover{
            opacity: 1;
            cursor: pointer;
        }
        
    }

    .action {
        background-color: var(--module-background-medium);
        grid-area: action; /* Positionne cette div dans la zone "action" */
    }
      
    .calendar {
        background-color: var(--module-background-dark);
        grid-area: calendar; /* Positionne cette div dans la zone "calendar" */
        &.darkTheme{
            background-color: var(--module-background-light);
        }
    }
    
    .ingredient-list {
        background-color: var(--module-background-dark);
        grid-area: ingredient-list; /* Positionne cette div dans la zone "ingredient-list" */
        &.darkTheme{
            background-color: var(--module-background-light);
        }
    }
    
    .recipe-list {
        background-color: var(--module-background-medium);
        grid-area: recipe-list; /* Positionne cette div dans la zone "recipe-list" */
    }

}