:root{
    --font-main:"Jacques Francois";


    --light-background: #F6F6F6;
    --light-text:black;


    --dark-background:#171717;
    --dark-text:#F6F6F6;

    --module-background-light:#245375;
    --module-background-medium:#4B5862;
    --module-background-dark:#193A51;
    --module-text-color:white;
}
