:root{
    --font-main:"Jacques Francois";
    --popup-font:"Roboto Condensed", sans-serif;


    --light-background: #F6F6F6;
    --light-text:black;


    --dark-background:#171717;
    --dark-text:#F6F6F6;

    --module-background-light:#245375;
    --module-background-medium:#4B5862;
    --module-background-dark:#193A51;
    --module-text-color:#F6F6F6;
    --module-input-background:#D9D9D9;

    --protein:#e0bcbc;
    --lipid:#b3de91;
    --glucid:#e1c682;
}
