.container{
    // background-color: red;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    .item{
        background-color: var(--light-background);
        width: fit-content;
        border-radius: 4px;
        color: black;
        font-family: var(--popup-font);
        padding: 0.3rem 0.9rem 0.3rem 0.9rem;
        position: relative;
        outline: 1.5px solid black;
        
        &:hover{
            background-color: white;
            cursor: pointer;
        }

        .name{
            font-family: var(--font-main);
        }
    }
}